{# samples tests do not work on cuda 8.0 #}
{% if cuda.version.major | int >= 9 -%}
#!/usr/bin/env bats

load helpers

image="${IMAGE_NAME}:{{ cuda.version.major }}.{{ cuda.version.minor }}-devel-${OS}${IMAGE_TAG_SUFFIX}"

function setup() {
    check_runtime
}

function teardown() {
    cleanup
}

@test "deviceQuery" {
    cat <<EOF > Dockerfile
    FROM ${image}
    {% if cuda.os.distro == "ubuntu" -%}
    RUN apt-get update && apt-get install -y make g++ git
    {% elif cuda.os.version | int == 8 -%}
    RUN dnf install -y make gcc-c++ git
    {% else -%}
    RUN yum install -y make g++ git
    {% endif -%}
    RUN git clone https://github.com/NVIDIA/cuda-samples.git
    WORKDIR cuda-samples/Samples/deviceQuery/
    {% if cuda.version.major | int < 10 -%}
    RUN git checkout v9.2
    {% endif -%}
    RUN make
    CMD ./deviceQuery
EOF
    docker_build -t "${image}-${BATS_TEST_NAME}" .
    docker_run --rm --runtime=nvidia ${image}-${BATS_TEST_NAME}
    [ "$status" -eq 0 ]
}

@test "vectorAdd {
    cat <<EOF > Dockerfile
    FROM $image
    {% if cuda.os.distro == "ubuntu" -%}
    RUN apt-get update && apt-get install -y make g++ git
    {% elif cuda.os.version | int == 8 -%}
    RUN dnf install -y make gcc-c++ git
    {% else -%}
    RUN yum install -y make g++ git
    {% endif -%}
    RUN git clone https://github.com/NVIDIA/cuda-samples.git
    WORKDIR cuda-samples/Samples/vectorAdd_nvrtc
    {% if cuda.version.major | int < 10 -%}
    RUN git checkout v9.2
    {% endif -%}
    RUN make
    CMD ./vectorAdd_nvrtc
EOF
    docker_build -t "${image}-${BATS_TEST_NAME}" .
    docker_run --rm --runtime=nvidia ${image}-${BATS_TEST_NAME}
    [ "$status" -eq 0 ]
}

{% if cuda.os.version | int != 8 and cuda.version.major | int > 8 or cuda.version.major + cuda.version.minor == "101" -%}
{# disabled for ubi8 (except cuda 10.1) due to gcc version compatibility issues -#}
@test "matrixMulDrv {
    cat <<EOF > Dockerfile
    FROM $image
    {% if cuda.os.distro == "ubuntu" -%}
    RUN apt-get update && apt-get install -y make g++ git
    {% elif cuda.os.version | int == 8 -%}
    RUN dnf install -y make gcc-c++ git
    {% else -%}
    RUN yum install -y make g++ git
    {% endif -%}
    RUN git clone https://github.com/NVIDIA/cuda-samples.git
    WORKDIR cuda-samples/Samples/matrixMulDrv
    {% if cuda.version.major | int < 10 -%}
    RUN git checkout v9.2
    {% endif -%}
    RUN make
    CMD ./matrixMulDrv
EOF
    docker_build -t "${image}-${BATS_TEST_NAME}" .
    docker_run --rm --runtime=nvidia ${image}-${BATS_TEST_NAME}
    [ "$status" -eq 0 ]
}
{% endif -%}
{% endif -%}
