#!/usr/bin/env bats

load helpers

image="${IMAGE_NAME}:{{ cuda.version.major }}.{{ cuda.version.minor }}-devel-${OS}${IMAGE_TAG_SUFFIX}"

function setup() {
    check_runtime
}

function teardown() {
    cleanup
}

@test "deviceQuery" {
    cat <<EOF > Dockerfile
    FROM ${image}
    {% if cuda.os.distro == "ubuntu" -%}
    RUN apt-get update && apt-get install -y make g++ git
    {% else -%}
    RUN yum install -y make g++ git
    {% endif -%}
    RUN git clone https://github.com/NVIDIA/cuda-samples.git
    WORKDIR cuda-samples/deviceQuery/
    RUN make
    CMD ./deviceQuery
EOF
    docker_build -t "${image}-${BATS_TEST_NAME}" .
    docker_run --rm --runtime=nvidia ${image}-${BATS_TEST_NAME}
    [ "$status" -eq 0 ]
}

@test "vectorAddDrv {
    cat <<EOF > Dockerfile
    FROM $image
    {% if cuda.os.distro == "ubuntu" -%}
    RUN apt-get update && apt-get install -y make g++ git
    {% else -%}
    RUN yum install -y make g++ git
    {% endif -%}
    RUN git clone https://github.com/NVIDIA/cuda-samples.git
    WORKDIR cuda-samples/vectorAddDrv_nvrtc
    RUN make
    CMD ./vectorAddDrv_nvrtc
EOF
    docker_build -t "${image}-${BATS_TEST_NAME}" .
    docker_run --rm --runtime=nvidia ${image}-${BATS_TEST_NAME}
    [ "$status" -eq 0 ]
}

@test "matrixMulDrv {
    cat <<EOF > Dockerfile
    FROM $image
    {% if cuda.os.distro == "ubuntu" -%}
    RUN apt-get update && apt-get install -y make g++ git
    {% else -%}
    RUN yum install -y make g++ git
    {% endif -%}
    RUN git clone https://github.com/NVIDIA/cuda-samples.git
    WORKDIR cuda-samples/matrixMulDrv
    RUN make
    CMD ./matrixMulDrv
EOF
    docker_build -t "${image}-${BATS_TEST_NAME}" .
    docker_run --rm --runtime=nvidia ${image}-${BATS_TEST_NAME}
    [ "$status" -eq 0 ]
}
